@import "_variables.scss";
.config{
    margin: 0 auto ;
    
    height: 60dvh;
    
    
      canvas{
        touch-action: none;
      }
    
      
   
    
}
.configurator{
  
  
  color: white;
  padding: 1rem;
  font-size: 1rem;
  background-color: black ;
  
  
  
  
  
}
.configurator_section{
  font-size: 1.3rem;
}
.configurator_section_title{
  font-weight: bold;
  text-transform: uppercase;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}






.item.item--active .item_label{
  color:white;
  border: 1px white solid;
  padding: 10px;
  border-radius: 20px;
}


.width{
  appearance: none;
  width: 100%;
  height: 2.5rem;
  color: black;
  outline: none;
  opacity:0.7;
  transition: opacity .2s;
  cursor: pointer;
  

}
.width::-webkit-slider-thumb{
  appearance: none;
  background: url(../assets/hammer-solid.svg);
  margin-top:5px ;
  width: 45px;
  height: 45px;
  
  cursor: pointer;
}


.width:hover{
  opacity: 1;
}
.slidecontainer{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.configurator_form{
      .configurator_input_label{
        font-size: 1.2em;
      }
      .configurator_input{
        font-size: 1.5rem;
        display: flex;
        height: 2.5rem;
        width:100% ;
        background-color:white ;
        opacity: 0.7;
        transition: opacity .2s;
        cursor: pointer;
        color: white;
        margin: 0 0 0.5em 0;
          
      }
      .configurator_input:hover{
            opacity: 1;
          }
      .configurator_input::placeholder{
        color: lighten($color: black, $amount: 50);
      }
      
      .configurator_textarea{
        background-color: black;
        font-size: 1.2em;
        color: white;
        touch-action: none;
        width: 50%;
        margin: 1em 0 0 0 ;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 0 1em 0 1em;
        border: 1px solid $blue-light;
        background-color: $red-dark;
        border-radius: 6px;
       
         
              
      }
      .form_recap{
        display: flex;
        justify-content: space-around;
        
        
        
        
      }
}
.texture{
  margin: 0em 0em 0em 0;
  height: 2.5rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  border: 1px solid white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:white;
  opacity: 0.7;
  transition: opacity .2s;
  cursor: pointer;
        
}
.texture:hover{
  opacity: 1;
}

.configurator_section_title_texture{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ;
}
.button, .tick {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}



.configurator_button_submit {
  align-self:center;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background-color:$blue-light ;
  border-radius: 6px;
  transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

.configurator_button_submit svg {
  transform: rotate(180deg);
  transition: all .5s;
}

.button__circle {
 
  align-self: center;
  width: 125px;
  height: 125px;
  background: mediumseagreen;
  border-radius: 50%;
  transform: rotate(-180deg);
}

.configurator_button_submit:hover {
  cursor: pointer;
}

.tick {
  color: white;
  font-size: 2em;
  transition: all .9s;
}









@media (min-width:850px) and (orientation: landscape) {
  .config{
    display: flex; 
    height: 90vh;
    width: 70vw;
      canvas{
        border-radius: 30px 0   0 30px    ;
      }
    .configurator{
      border-radius:  0 30px  30px  0    ;
      height: 90vh;
      width: 30em;
      box-sizing: border-box;
      
      
    }
    .form_recap{
      margin-top: 2em;
      font-size: 1.2em;
    }
   .width{
    height: 2.5rem;
   }
    
  }  }