.body-order{
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    touch-action: cross-slide-y;
}
.config{
    margin: 0 auto ;
    border: none;
    margin: 0 auto;
    margin-top: 2rem;
    
    height: 50dvh;
    
      
  
   
    
}

  

.configurator{
  right: 24px;
  bottom: 15vh;
  color: $blue-light;
  padding: 16px;
  font-size: 1rem;
  background-color: black ;
  
}
.configurator_section_title{
  font-weight: bold;
  text-transform: uppercase;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.configurator_section_values{
  display:flex ;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  align-items: center;
  gap:1em;
  margin-top: 1em;
}
.item_label{
  font-size: 1em;
  color: $red-dark;
  transition: .4s color;
  
  ;
}
.item{
  transition: .4s opacity;
}
.item:hover{
  opacity: 0.8;
  cursor: pointer;
}

.item.item--active .item_label{
  color:white;
  border: 1px white solid;
  padding: 10px;
  border-radius: 20px;
}


.width{
  appearance: none;
  width: 100%;
  height: 25px;
  color: black;
  outline: none;
  opacity:0.7;
  transition: opacity .2s;
  cursor: pointer;
  

}
.width::-webkit-slider-thumb{
  appearance: none;
  background: url(../assets/hammer-solid.svg);
  width: 23px;
  height: 20px;
  border: 0;
  cursor: pointer;
}


.width:hover{
  opacity: 1;
}
.slidecontainer{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.configurator_form{

      .configurator_input{
        display: flex;

      }
      .configurator_button_submit{
        margin: 1em 0 0 0 ;
        width: 10rem;
        height: 2rem;
      }
      .configurator_textarea{
        resize: none;
        background-color: black;
        border: none;
        color: white;
        touch-action: none;
        height: 100px;
        
        margin: 1em 0 0 0 ;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-sizing: border-box
      }
}
@media (min-width:850px) {
  .config{
    display: flex; 
    height: 70vh;
    width: 50vw;
      canvas{
        border-radius: 30px 0   0 30px    ;
      }
    .configurator{
      border-radius:  0 30px  30px  0    ;
      
    }

   
    
  }  }