@import "_variables.scss";
.header{
    margin: 0 auto;
    font-family: $font-main;
    background-image: url(../assets/background.jpg);
    background-size:cover  ;
    background-repeat: no-repeat;
    width: 100%;
    height: 40em;
    
}
.header-order{
    font-family: $font-main;
}