@import "_variables.scss";
@import "_fonts.scss";
.nav{
    
   
    position: relative;
     .nav-menu {
        background-color: $blue-light;
        list-style: none;
        width: 300px;
        border-radius:0 20px 20px 0;
        transform: translateX(-400px); /* the element is transposed 300px to the left of where it's supposed to be */
        transition: transform 1s ease-out, visibility 1s ;
        transition:  1s ease ;
        visibility: hidden;
        z-index: 1 ;
        position: absolute;
        
        li{
            
            text-decoration: none;
            
            a{
               text-decoration: none;
               font-family: $font-second;
               
            }
        }
   
     }
     .nav-menu.active {
      transform: translateX(-40px); /* the element is returned to where it's supposed to be */
      transition: transform 1s ease-out, visibility 0s;
      visibility: visible;

    }
     .bar{ 
      
      a{
        color: black;
        padding:  16px;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
        
      
      }  
        
     }
     a:hover {
      background-color: transparentize($color: $red-light, $amount: 0.15) ;
      color: black;
      
     }
     a:focus{
      background-color: transparentize($color: $red-light, $amount: 0.15);
      color: black;
     }
     
}
.icon{
        color: $blue-light;
        display: flex;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 150px;
        width: 150px;
        font-size: 3em;
        text-align: center;
     }
.fa{
   position: absolute;
   right: 55px;
   top: 55px;
}


.logo{
   background-image: url(../assets/logo.png);
   background-size:   cover ;
   width: 150px;
   height:150px;
   
   

}
@media (min-width:850px) {
   
   .nav{
         display: flex;
         justify-content: flex-end;
         
         
         
      
         
         
         .logo{
              min-width: 150px;
            }
      .nav-menu{
         display: flex;
         justify-content: flex-end;
         visibility: visible;
         position:relative;
         height: 10%;
         transform: translateX(0);
         width: 100%;
         border-radius: 0%;
         
         
         
   }
   .icon{
      display: none;
      
   }
   
}}