$red-light:#A61C28;
$red-dark:#59111E;
$grey-dark:#222326;
$grey:#4C5954;
$blue-light:#7a9fbf;
$width-main:412px;
@import url("https://fonts.googleapis.com/css2?family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");