@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}
.nav {
  position: relative;
}
.nav .nav-menu {
  background-color: #7a9fbf;
  list-style: none;
  width: 300px;
  border-radius: 0 20px 20px 0;
  transform: translateX(-400px); /* the element is transposed 300px to the left of where it's supposed to be */
  transition: transform 1s ease-out, visibility 1s;
  transition: 1s ease;
  visibility: hidden;
  z-index: 1;
  position: absolute;
}
.nav .nav-menu li {
  text-decoration: none;
}
.nav .nav-menu li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.nav .nav-menu.active {
  transform: translateX(-40px); /* the element is returned to where it's supposed to be */
  transition: transform 1s ease-out, visibility 0s;
  visibility: visible;
}
.nav .bar a {
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}
.nav a:hover {
  background-color: rgba(166, 28, 40, 0.85);
  color: black;
}
.nav a:focus {
  background-color: rgba(166, 28, 40, 0.85);
  color: black;
}

.icon {
  color: #7a9fbf;
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 150px;
  width: 150px;
  font-size: 3em;
  text-align: center;
}

.fa {
  position: absolute;
  right: 55px;
  top: 55px;
}

.logo {
  background-image: url(../assets/logo.png);
  background-size: cover;
  width: 150px;
  height: 150px;
}

@media (min-width: 850px) {
  .nav {
    display: flex;
    justify-content: flex-end;
  }
  .nav .logo {
    min-width: 150px;
  }
  .nav .nav-menu {
    display: flex;
    justify-content: flex-end;
    visibility: visible;
    position: relative;
    height: 10%;
    transform: translateX(0);
    width: 100%;
    border-radius: 0%;
  }
  .nav .icon {
    display: none;
  }
}
@media (min-width: 850px) {
  .logo {
    width: 250px;
    height: 250px;
  }
}
.header {
  margin: 0 auto;
  font-family: "acier-bat-gris", sans-serif;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40em;
}

.header-order {
  font-family: "acier-bat-gris", sans-serif;
}

.body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #59111E;
}

.body-order {
  box-sizing: border-box;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #59111E;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

.main_content {
  display: flex;
  flex-direction: column;
  background-color: #59111E;
  font-size: 1em;
}

.main_content_box {
  background-color: #7a9fbf;
  box-sizing: border-box;
  margin: 2em 1em;
  padding: 1em 0 0 1em;
  width: 80%;
  box-shadow: 14px 14px 26px 4px rgba(0, 0, 0, 0.75);
}
.main_content_box h2 {
  margin: 0 auto;
}

.tools_section {
  align-self: center;
}
.tools_section ul li {
  margin: 1em 0 1em 0;
}
.tools_section ul ::marker {
  color: #A61C28;
  content: "🪚";
  font-size: 1.5rem;
}

@media (min-width: 850px) {
  .main_content {
    font-size: 1.5em;
  }
}
.config {
  margin: 0 auto;
  height: 60dvh;
}
.config canvas {
  touch-action: none;
}

.configurator {
  color: white;
  padding: 1rem;
  font-size: 1rem;
  background-color: black;
}

.configurator_section {
  font-size: 1.3rem;
}

.configurator_section_title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.item.item--active .item_label {
  color: white;
  border: 1px white solid;
  padding: 10px;
  border-radius: 20px;
}

.width {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 2.5rem;
  color: black;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
}

.width::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background: url(../assets/hammer-solid.svg);
  margin-top: 5px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.width:hover {
  opacity: 1;
}

.slidecontainer {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.configurator_form .configurator_input_label {
  font-size: 1.2em;
}
.configurator_form .configurator_input {
  font-size: 1.5rem;
  display: flex;
  height: 2.5rem;
  width: 100%;
  background-color: white;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
  color: white;
  margin: 0 0 0.5em 0;
}
.configurator_form .configurator_input:hover {
  opacity: 1;
}
.configurator_form .configurator_input::-moz-placeholder {
  color: gray;
}
.configurator_form .configurator_input::placeholder {
  color: gray;
}
.configurator_form .configurator_textarea {
  background-color: black;
  font-size: 1.2em;
  color: white;
  touch-action: none;
  width: 50%;
  margin: 1em 0 0 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0 1em 0 1em;
  border: 1px solid #7a9fbf;
  background-color: #59111E;
  border-radius: 6px;
}
.configurator_form .form_recap {
  display: flex;
  justify-content: space-around;
}

.texture {
  margin: 0em 0em 0em 0;
  height: 2.5rem;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  border: 1px solid white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
  opacity: 0.7;
  transition: opacity 0.2s;
  cursor: pointer;
}

.texture:hover {
  opacity: 1;
}

.configurator_section_title_texture {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.button, .tick {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.configurator_button_submit {
  align-self: center;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background-color: #7a9fbf;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.67, 0.17, 0.4, 0.83);
}

.configurator_button_submit svg {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.button__circle {
  align-self: center;
  width: 125px;
  height: 125px;
  background: mediumseagreen;
  border-radius: 50%;
  transform: rotate(-180deg);
}

.configurator_button_submit:hover {
  cursor: pointer;
}

.tick {
  color: white;
  font-size: 2em;
  transition: all 0.9s;
}

@media (min-width: 850px) and (orientation: landscape) {
  .config {
    display: flex;
    height: 90vh;
    width: 70vw;
  }
  .config canvas {
    border-radius: 30px 0 0 30px;
  }
  .config .configurator {
    border-radius: 0 30px 30px 0;
    height: 90vh;
    width: 30em;
    box-sizing: border-box;
  }
  .config .form_recap {
    margin-top: 2em;
    font-size: 1.2em;
  }
  .config .width {
    height: 2.5rem;
  }
}
.footer {
  border-top: solid 1rem #7a9fbf;
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem;
  background-color: #59111E;
  color: #7a9fbf;
  box-shadow: inset 0px 5px 24px 7px rgba(0, 0, 0, 0.75);
  height: 95em;
}
.footer .footer_form {
  box-sizing: border-box;
}
.footer .footer_form h2 {
  display: block;
  text-align: center;
  text-wrap: nowrap;
  font-size: 4em;
}
.footer .footer_form .footer_form_label_name {
  display: block;
  margin: 1em;
}
.footer .footer_form input {
  display: flex;
  margin: 0 auto;
  margin-bottom: 0.5em;
  width: 80%;
  height: 3em;
  background-color: #7a9fbf;
  box-shadow: inset 0px 6px 26px 4px rgba(0, 0, 0, 0.75);
  border: none;
}
.footer .footer_form input::-moz-placeholder {
  font-size: 1.7em;
  text-align: center;
  color: black;
  font-weight: 600;
}
.footer .footer_form input::placeholder {
  font-size: 1.7em;
  text-align: center;
  color: black;
  font-weight: 600;
}
.footer .footer_form .text_field {
  box-shadow: inset 0px 6px 26px 4px rgba(0, 0, 0, 0.75);
  background-color: #7a9fbf;
  border: none;
  margin: 0 auto;
  margin-bottom: 3em;
  width: 80%;
  resize: none;
  display: block;
  color: black;
}
.footer .footer_form .text_field::-moz-placeholder {
  font-size: 2em;
  text-align: center;
  line-height: 5.2em;
  color: black;
  font-weight: 600;
}
.footer .footer_form .text_field::placeholder {
  font-size: 2em;
  text-align: center;
  line-height: 5.2em;
  color: black;
  font-weight: 600;
}
.footer input:focus {
  background-color: white;
}
.footer .text_field:focus {
  background-color: white;
}

.button {
  margin: 0 auto;
  color: #59111E;
  font-size: 1.5em;
  font-weight: 600;
  width: 60%;
  height: 3rem;
  background: #3498db;
  background-image: linear-gradient(to bottom, #7a9fbf, #2980b9);
  border-radius: 9px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #7a9fbf);
  text-decoration: none;
}

.section_contact {
  margin: 1em;
  text-align: center;
  font-size: 3em;
}
.section_contact a {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  text-decoration: none;
  color: #7a9fbf;
  margin-top: 1em;
  text-wrap: nowrap;
}
.section_contact strong {
  gap: 0.5em;
}
.section_contact strong i {
  display: block;
  margin-bottom: 1em;
}
.section_contact a {
  display: flex;
  flex-direction: column;
}

@media (min-width: 850px) {
  .footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85em;
  }
  .footer_form {
    width: 540px;
    align-items: center;
  }
  .footer_form .button {
    height: 3em;
    font-weight: bolder;
    font-size: 4cap;
  }
  .footer_form input {
    margin-right: 1em;
    width: 200px;
    font-size: 2em;
  }
  .text_field {
    display: block;
    resize: none;
    font-size: 2em;
  }
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
}/*# sourceMappingURL=main.css.map */